﻿/* -------------------目標--------------------- */
.section1 {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.addTarget {
    padding-left: 6%;
    display: flex;
    align-items: center;
}

.icon-addTarget {
    color: #b8b7b7;
    font-size: 25px;
}

    .icon-addTarget:hover {
        color: #767676e6;
        font-size: 25px;
        cursor: pointer;
    }

.addInput {
    font-size: 25px;
    background-color: #ffffff;
    border: 4px solid #d5d4d4;
    border-radius: 10px 10px 10px 10px;
    width: 500px;
    height: 50px;
    margin-left: 18px;
    outline-style: none;
    padding-left: 10px;
}

    .addInput:focus {
        font-size: 25px;
        background-color: #ffffff;
        border: 4px solid #767676e6;
        border-radius: 10px 10px 10px 10px;
        width: 500px;
        height: 50px;
        margin-left: 20px;
        outline-style: none;
        padding-left: 10px;
    }

.sort {
    margin-left: 210px;
    cursor: pointer;
}


    .sort > .dropdown-toggle {
        font-size: 20px;
    }

        .sort > .dropdown-toggle:focus {
            background-color: #efecec;
            box-shadow: none;
            border-radius: 10px 10px 10px 10px;
        }

.progressArea {
    margin-top: 70px;
    padding-left: 8%;
    padding-bottom: 10%;
    font-size: 30px;
    position: relative;
}

.targetItem {
    border: 2px solid rgb(232, 230, 230);
    box-shadow: 2px 2px 5px #d2d0d0db;
    border-radius: 20px 20px 20px 20px;
    width: 900px;
    padding: 15px 0px 15px 40px;
    margin-bottom: 25px;
}

.targeTittle {
    display: flex;
    align-items: center;
    position: relative
}

.target-addMission {
    margin-left: 700px;
    font-size: 18px;
    position: absolute;
}

.icon-addMission {
    text-decoration: none;
    color: #878585;
    cursor: pointer;
}

    .icon-addMission:hover {
        text-decoration: none;
        color: #2b3040e6;
    }


progress {
    width: 800px;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    position: relative;
}

    progress:after {
        content: attr(value)'%';
        font-size: 25px;
        position: absolute;
        right: 1%;
        color: DarkSlateGray;
    }

    progress[value]::-webkit-progress-bar {
        background-color: #ffffff;
        border: 2px solid #2b3040e6;
        border-radius: 10px 10px 10px 10px;
    }

.progress-bar[value]::-webkit-progress-value {
    border-radius: 8px 8px 8px 8px;
    background-image: linear-gradient(to right,PaleGreen,PaleTurquoise);
}

p {
    font-size: 25px;
    font-weight: 500;
}

.missionAmount {
    font-size: 20px;
}

.bgImg {
    width: 600px;
    position: fixed;
    right: -40px;
    bottom: 0;
    z-index: -100;
}

/* -------------------------------------------- */
