﻿.topcontainer {
    display: flex;
    height: 300px;
    width: 90%;
    margin-left: 80px;
}

.grid-topcontainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* 定義兩行等高 */
    max-height: 245px;
    width: 100%;
    background-color: #d8d8d85b;
    /* border-radius: 5px; */
    border: solid #254e6b 4px;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.grid-item {
    overflow-y: auto;
    margin-top: 4px;
    padding: 10px;
    height: 225px;
    width: 100%;
}

.column {
    width: 100%;
    padding: 1%;
}

.missions {
    text-align: center;
    font-size: 23px;
    letter-spacing: 25px;
    /* border: solid #2b3040e6 3px; */
    border-radius: 10px 10px 0 0;
    background-color: #254e6b;
    ;
    color: #f5f4f1;
    font-weight: bold;
}

.grid-item div {
    /* margin-bottom: 8px; */
    font-size: 20px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 15px;
    margin: 12px 16px;
}

    .grid-item div:hover {
        color: #f5f4f1 !important;
        cursor: pointer;
    }

.missiontitle {
    margin-left: 50px;
    padding-top: 40px;
    font-weight: 800;
    color: #2b3040e6;
}

.calendartitle {
    margin-left: 50px;
    padding-bottom: 15px;
    font-weight: 800;
    color: #2b3040e6;
}

/* body{
    background-color: aqua;
} */

.fc-toolbar-title { /*從網頁對標題案檢查 得知內建標題的選擇器為fc-toolbar-title*/
    color: #2b3040e6;
    font-weight: 900;
}

.container {
    background-color: rgba(226, 196, 135, 0);
    /* 調整區塊長寬 */
    width: 90%;
    height: 1050px;
    /* 增加邊框樣式 */
    border: 1px white;
    box-shadow: 5px 10px 7px gray;
    top: 400px;
    padding: 20px;
}

/* 下方手刻響應式網頁 */
@media(max-width:600px) { /*當網頁寬度小於600時做{}內部的css*/
    .container { /*透過class選擇container類別將區塊寬度改為400*/
        width: 400px;
    }

    .fc th {
        font-size: 18px;
    }

    .fc-toolbar-title {
        color: brown;
    }
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.fc-event {
    background-color: #bd7878;
    font-size: 18px;
    /* 调整字体大小 */
    padding: 1px 1px;
    /* 调整内边距 */
    border: none;
}

.fc-event-title {
    color: black;
    font-weight: 500;
}

.custom-event {
    background-color: #b8b7b7;
}
