﻿body {
}
/* ------全域設定------ */
/* * {
    border: 1px solid black;
} */

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: rgb(12, 21, 181);
    word-wrap: break-word;
}

/* 
.Mycontainer {
    margin: 3% 7% 0% 7%;
} */

.MyTitle {
    /* font-size: 30px; */
    font-weight: 800;
    letter-spacing: 5px;
}

.scrollable-div {
    /* width: 300px; */
    height: 300px;
    overflow: auto;
}

.border-radius {
    border: 1px solid black;
    border-radius: 10px;
}



/* ------計劃概述------ */

.headerBody {
    /* background-color: hsl(246, 22%, 91%); */
    /* background-color: rgb(234, 225, 207); */
    border-radius: 10px;
    /* box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2); */
    /* border: 4px solid #e2e0e0; */
}

textarea {
    width: 100%;
    padding: 20px;
    font-size: 21px;
    border: 4px solid #e2e0e000;
    border-radius: 5px;
    background: none;
    /* border: none; */
    resize: none;
    height: 750px;
}

.edit-textarea {
    background: none;
    border: 4px solid #e2e0e0;
}

.margin-editbtn {
    margin-left: 390px;
}

/* ------計劃概述END------ */

/* ----------參與成員-------- */
.Myavatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

    .Myavatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.box {
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
}

.AddNewBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b3040e6;
    color: #ffffff;
    box-shadow: 0 .3125rem .625rem 0 rgba(0, 0, 0, .12)
}

    .AddNewBtn:hover {
        color: rgb(241, 193, 96);
    }

.margin-delete {
    margin-left: 472px;
}
/* 彈出視窗 */
dialog {
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px;
    width: 500px;
    background-color: #f5f4f1;
}

    /* 彈出視窗背景透明 */
    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.1);
    }
/* ----------參與成員END-------- */
/* ----------資料連結-------- */
/* .myInput {
    width: 580px;
    height: 50px;
    border: 2px solid rgb(176, 174, 174);
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
} */

/* .mybutton {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #2b3040e6;
    color: #ffffff;
    box-shadow: 0 .3125rem .625rem 0 rgba(0, 0, 0, .12)
} */

.linkList {
    display: flex;
}

    .linkList:hover {
        background-color: #2b304015;
        /* background-color: rgba(255, 255, 255, 0.163); */
        border-radius: 10px;
    }

    .linkList > a:hover {
        color: rgb(106, 78, 172);
        font-weight: 600;
    }

.linkRow {
    width: 565px;
    /* height: 50px; */
    /* border: 2px solid rgb(176, 174, 174); */
    border-radius: 5px;
    padding: 15px;
    font-size: 23px;
    font-weight: 400;
    color: black;
}



.linkDelete {
    display: flex;
    align-items: center;
}


.addInput {
    font-size: 25px;
    background-color: #f5f4f1;
    border: 4px solid #e2e0e0;
    border-radius: 10px 10px 10px 10px;
    width: 270px;
    height: 50px;
    /* margin-left: 20px; */
    outline-style: none
}

.icon-addTarget {
    color: #b8b7b7;
    font-size: 25px;
}

    .icon-addTarget:hover {
        color: #2b3040e6;
        font-size: 25px;
        cursor: pointer;
        background-color: transparent !important;


    }

.margin-btnAddLink {
    margin-left: 472px;
}

.margin-btnSaveLink {
    margin-left: 40px;
}

/* ----------資料連結END-------- */

.btnSave {
    /* margin-top: 3%; */
    color: white;
    font-size: 25px;
    background-color: #999a9ae6;
    border-radius: 10px 10px 10px 10px;
    padding: 8px 18px 8px 18px;
    border: none;
    /* margin-left: 200px;
    width: 200px;
    */
}

    .btnSave:hover {
        /* margin-top: 3%; */
        color: white;
        font-size: 25px;
        border-radius: 10px 10px 10px 10px;
        padding: 8px 18px 8px 18px;
        border: none;
        background-color: #0e356de6;
    }