﻿/* 背景圖片 */
body {
    background-image: url(/img/signUp/abstract_597.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* logo */
.logo {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 資料內容 */
.container {
    /* border: 1px solid #333; */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4), 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 750px;
    height: 700px;
    background-color: #f5f4f1ef;
    /* margin-top: 5%; */
    position: relative;
}

/* 欄位 */
.MemberName {
    margin-top: 8%;
    font-size: 30px;
    text-align: center;
}

.MemberAccount,
.MemberPassword,
.confirmPassword {
    margin-top: 7%;
    font-size: 30px;
    text-align: center;
}

/* 註冊標題 */
h1 {
    margin-top: 5%;
    color: black;
    font-size: 36px;
    text-align: center;
}

/* 會員名稱 */
.MemberName input {
    width: 350px;
    background-color: #f5f4f1;
    border: 2px solid rgb(162, 162, 162);
    border-radius: 10px 10px 10px 10px;
    outline: none;
    padding-left: 2%;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
}

    .MemberName input:focus {
        width: 350px;
        background-color: #f5f5f3;
        border: 2px solid rgb(44, 43, 43);
        border-radius: 10px 10px 10px 10px;
        outline: none;
        padding-left: 2%;
        font-size: 28px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 2px 2px 2px #cccccc;
        margin-left: 5%;
    }

/* 建立帳號 */
.MemberAccount input {
    width: 350px;
    background-color: #f5f4f1;
    border: 2px solid rgb(162, 162, 162);
    border-radius: 10px 10px 10px 10px;
    outline: none;
    padding-left: 2%;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 9%;
}

    .MemberAccount input:focus {
    width: 350px;
    background-color: #f5f5f3;
    border: 2px solid rgb(44, 43, 43);
    border-radius: 10px 10px 10px 10px;
    outline: none;
    padding-left: 2%;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 2px #cccccc;
    margin-left: 9%;
}

/* 建立密碼 */
.MemberPassword input {
    width: 350px;
    background-color: #f5f4f1;
    border: 2px solid rgb(162, 162, 162);
    border-radius: 10px 10px 10px 10px;
    outline: none;
    padding-left: 2%;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
}

    .MemberPassword input:focus {
        width: 350px;
        background-color: #f5f5f3;
        border: 2px solid rgb(44, 43, 43);
        border-radius: 10px 10px 10px 10px;
        outline: none;
        padding-left: 2%;
        font-size: 28px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 2px 2px 2px #cccccc;
        margin-left: 5%;
    }

/* 確認密碼 */
.confirmPassword input {
    width: 350px;
    background-color: #f5f4f1;
    border: 2px solid rgb(162, 162, 162);
    border-radius: 10px 10px 10px 10px;
    outline: none;
    padding-left: 2%;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
}

    .confirmPassword input:focus {
        width: 350px;
        background-color: #f5f5f3;
        border: 2px solid rgb(44, 43, 43);
        border-radius: 10px 10px 10px 10px;
        outline: none;
        padding-left: 2%;
        font-size: 28px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 2px 2px 2px #cccccc;
        margin-left: 5%;
    }

/* 註冊按鈕 */
.btn_submit {
    color: white;
    font-size: 25px;
    background-color: #254e6b;
    border-radius: 10px 10px 10px 10px;
    padding: 8px 18px 8px 18px;
    border: none;
    margin-top: 8%;
    margin-left: 350px;
}





