﻿/* * {
  border: 1px solid black
} */

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*scroller width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.h-10 {
    height: 10%;
}

.h-25 {
    height: 25%;
}

.h-100 {
    height: 100%
}

.scroller {
    overflow: auto;
}

.navbarTitle {
    letter-spacing: 10px;
    color: #2b3040e6
}

.divLogo {
    /* background-color: #555; */
    /* padding-left: 30px; */
    padding-top: 15px;
    height: 80px;
}


/* ---------------SideBar------------- */
.leftbar {
    border-radius: 0px 60px 0px 0px;
}

    .leftbar > div {
        margin-left: 35px;
    }

    .leftbar > h3 {
        margin-left: 35px;
    }

.divLogo > img {
    width: 230px;
}

.projectTitle {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 50px;
}

.projectName {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-left: 48px;
    margin-right: 20px;
    font-weight:400 !important;
}
    .projectName:hover {
        color: rgb(255, 255, 255);
    }


.active {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.163);
}

.divHome {
    /* background-color: rgb(187, 187, 187); */
    padding-left: 12px;
    margin-right: 3px;
}

.truncate {
    width: 235px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 25px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

    .truncate:hover {
        background-color: rgba(255, 255, 255, 0.163);
    }


/* .material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
} */

/* --------計劃名稱前面的偽元素circle色塊-------- */
.circleRed {
    position: relative;
}

    .circleRed::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 5%;
        width: 23px;
        height: 23px;
        border-radius: 30%;
        background-color: rgb(248, 217, 146);
    }

.circleBlue {
    position: relative;
    --circle-color: rgb(188, 173, 251); /* 定义一个 CSS 变量 */
}

    .circleBlue::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 5%;
        width: 23px;
        height: 23px;
        border-radius: 30%;
        background-color: var(--circle-color); /* 使用 CSS 变量 */
    }


.circle3 {
    position: relative;
}

    .circle3::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 5%;
        width: 23px;
        height: 23px;
        border-radius: 30%;
        background-color: rgb(245, 175, 135);
    }

.circle4 {
    position: relative;
}

    .circle4::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 5%;
        width: 23px;
        height: 23px;
        border-radius: 30%;
        background-color: pink;
    }

.circle5 {
    position: relative;
}

    .circle5::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 5%;
        width: 23px;
        height: 23px;
        border-radius: 30%;
        background-color: LightGrey;
    }

/* ----------大頭貼-------- */
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}

    .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* ---------功能頁籤-------------- */


.btn-grouop {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 20px;
}

    .btn-grouop > ul > li > button:hover {
        color: #ffffff;
        background-color: #254e6b89;
    }

    .btn-grouop > ul > li > button {
        color: #2b3040e6;
        font-weight: 600;
    }

/* ----------------------- */
/* --------navbar前面的偽元素circle色塊-------- */
.circleyellow-Title {
    position: relative;
    --circle-color: rgb(248, 217, 146); /* 背景顏色的變量 */
}

#spanName::before {
    content: "";
    position: absolute;
    /*top: 20%;
        left: -50%;*/
    margin-left: -45px;
    margin-top:10px;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: var(--circle-color-title); /* 使用CSS變數來設定背景顏色 */
}

/* 頁籤background */
.nav-link.active {
    background-color: #254e6b !important;
    color: white !important;
}

.addInput {
    font-size: 25px;
    background-color: #f5f4f1;
    border: 4px solid #e2e0e0;
    border-radius: 10px 10px 10px 10px;
    width: 270px;
    height: 50px;
    /* margin-left: 20px; */
    outline-style: none
}
.AddProgramLabel {
    font-size: 25px;
    background-color: #f5f4f1;
}
.colorpicker {
    background-color: #f5f4f1;
    width: 100px;
    height: 40px;
}


.icon-addTarget {
    color: #b8b7b7;
    font-size: 25px;
}

    .icon-addTarget:hover {
        color: #2b3040e6;
        font-size: 25px;
        cursor: pointer;
        background-color: transparent !important;
    }
.margin-btnSaveLink {
    margin-left: 40px;
}