﻿@{
}
        <!-- 從這裡開始寫 -->
        <br>
        <!-- select option -->
        <div class="">
            <div class="row  gx-0">
                <div class="col-4">
                <select id="selector" class="form-select" aria-label="Default select example">
                <option value="all" selected>全部目標分類</option>
                    @if (ViewBag.option != null && ViewBag.option.Count > 0) {
                        @foreach (var option in ViewBag.option) {
                            <option value="@option.IntentId">@option.IntentName</option>
                        }
                    }
                    </select>
                </div>
                <div class="col"></div>
            </div>
            <!-- select option end -->
            <!-- 任務清單 -->
            <br>
            <!-- 任務分類 -->
            <div class="row gx-0">
                <div class="col d-flex justify-content-center align-items-start">
                    <h2>新任務</h2>
                    <button id="newTask" class="addIcon border-0 bg-white" type="submit"><i class="fa-regular fa-square-plus fa-2xl"></i></button>
                </div>
                <div class="col d-flex justify-content-center align-items-start">
                    <h2>進行中</h2>
                    <button id="inProgress" class="addIcon border-0 bg-white" type="submit"><i class="fa-regular fa-square-plus fa-2xl"></i></button>
                </div>
                <div class="col d-flex justify-content-center align-items-start">
                    <h2>已完成</h2>
                    <button id="completed" class="addIcon border-0 bg-white" type="submit"><i class="fa-regular fa-square-plus fa-2xl"></i></button>
                </div>
            </div>
            <!-- 任務分類 end-->
            <!-- 清單 -->
            <div class="row  gx-0">
                <div class="col scroller" style="height:65vh">
                    <ul id="sortable1" class="connectedSortable" >
                    @if (ViewBag.MissionWithIntent != null) {
                        @foreach (var item in ViewBag.MissionWithIntent) {
						@if (item.Mission.MisState == "新任務") {
                        <li class="ui-state show my-4 mx-4 draggable-mission"
                            data-start-time="@item.Mission.MisStartTime?.ToString("yyyy-MM-dd")" data-end-time="@item.Mission.MisFinishTime?.ToString("yyyy-MM-dd")"
                            data-intent-id="@item.IntentId" data-mission-name="@item.Mission.MissionName"
                            data-mis-state="@item.Mission.MisState" data-mis-describe="@item.Mission.MisDescribe"
                            data-member-id="@item.MemberId" data-mission-id="@item.Mission.MissionId">
							<h3 class="mx-4 my-4">@item.Mission.MissionName</h3>
							<div class="row mx-2 my-3">
								<div class="col d-flex  align-items-center">
                                    <div class=" bd-highlight">@item.Mission.MisStartTime?.ToString("yyyy-MM-dd") - @item.Mission.MisFinishTime?.ToString("yyyy-MM-dd")</div>
								</div>
								<div class="col-2 d-flex align-items-center">
									<img class="MissionAvatar"
                                         src="@item.MemberPhoto" alt="頭像">
								</div>
								<div class="col-2 d-flex align-items-center">
                                    <a class="mail" href="mailto:\@item.MemberAccount">
                                        <i class="fa-regular fa-envelope fa-2xl"
									        style="color:#696c71"></i>
                                    </a>
								</div>
							</div>
						</li>
						}
					}
                    }                     
                    </ul>
                </div>
                <div class="col scroller" style="height:65vh">
                    <ul id="sortable2" class="connectedSortable" >
                    @if (ViewBag.MissionWithIntent != null){
                        @foreach (var item in ViewBag.MissionWithIntent)
                    {
                        @if (item.Mission.MisState == "進行中")
                        {
                            <li class="ui-state show my-4 mx-4 draggable-mission"
                            data-start-time="@item.Mission.MisStartTime?.ToString("yyyy-MM-dd")" data-end-time="@item.Mission.MisFinishTime?.ToString("yyyy-MM-dd")"
                            data-intent-id="@item.IntentId" data-mission-name="@item.Mission.MissionName"
                            data-mis-state="@item.Mission.MisState" data-mis-describe="@item.Mission.MisDescribe"
                            data-member-id="@item.MemberId" data-mission-id="@item.Mission.MissionId">
                                <h3 class="mx-4 my-4">@item.Mission.MissionName</h3>
                                <div class="row mx-2 my-3">
                                    <div class="col d-flex  align-items-center">
                                        <div class=" bd-highlight">@item.Mission.MisStartTime?.ToString("yyyy-MM-dd") - @item.Mission.MisFinishTime?.ToString("yyyy-MM-dd")</div>
                                    </div>
                                    <div class="col-2 d-flex align-items-center">
                                        <img class="MissionAvatar"
                                        src="@item.MemberPhoto" alt="頭像">
                                    </div>
                                    <div class="col-2 d-flex align-items-center">
                                        <a class="mail" href="mailto:\@item.MemberAccount">
                                            <i class="fa-regular fa-envelope fa-2xl"
                                            style="color:#696c71"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    }
                    </ul>
                </div>
                <div class="col scroller" style="height:65vh">
                    <ul id="sortable3" class="connectedSortable" >
                    @if (ViewBag.MissionWithIntent != null){
                        @foreach (var item in ViewBag.MissionWithIntent)
                    {
                        @if (item.Mission.MisState == "已完成")
                        {
                            <li class="ui-state show my-4 mx-4 draggable-mission"
                            data-start-time="@item.Mission.MisStartTime?.ToString("yyyy-MM-dd")" data-end-time="@item.Mission.MisFinishTime?.ToString("yyyy-MM-dd")"
                            data-intent-id="@item.IntentId" data-mission-name="@item.Mission.MissionName"
                            data-mis-state="@item.Mission.MisState" data-mis-describe="@item.Mission.MisDescribe"
                            data-member-id="@item.MemberId" data-mission-id="@item.Mission.MissionId">
                                <h3 class="mx-4 my-4">@item.Mission.MissionName</h3>
                                <div class="row mx-2 my-3">
                                    <div class="col d-flex  align-items-center">
                                        <div class=" bd-highlight">@item.Mission.MisStartTime?.ToString("yyyy-MM-dd") - @item.Mission.MisFinishTime?.ToString("yyyy-MM-dd")</div>
                                    </div>
                                    <div class="col-2 d-flex align-items-center">
                                        <img class="MissionAvatar"
                                        src="@item.MemberPhoto" alt="頭像">
                                    </div>
                                    <div class="col-2 d-flex align-items-center">
                                        <a class="mail" href="mailto:\@item.MemberAccount">
                                            <i class="fa-regular fa-envelope fa-2xl"
                                            style="color:#696c71"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    }
                    </ul>
                </div>

            </div>
            <!-- 清單 end-->
        </div>
        <!-- 任務清單 end -->
        <!-- 任務編輯-->
        <dialog id="infoModal">
            
                <div class="position-relative">
                    <button  type="button" class="close btn-close position-absolute top-10 end-0" aria-label="Close"></button>
                </div>
                
                <partial name="~/Views/MissionEdit/Index.cshtml"/>
                <!-- 儲存按鈕 -->
                <div class="submitBtn">
                    @*<input type="submit" class="close btn btn-secondary btn-lg" value="儲存">*@
                    <button id="sendValue" class="btn btn-secondary btn-lg">儲存</button>
                </div>
             
        </dialog>
        <!-- 任務編輯 end-->
        <!-- 結束 -->
<script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="~/js/mission/JavaScript.js"></script>
<link rel="stylesheet" href="~/css/Mission.css" />

