﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - collab_00</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
@*    <link rel="stylesheet" href="~/collab_00.styles.css" asp-append-version="true" />*@
    

    <!-- ----------Google APIs------------ -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/5df44635c5.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
@*    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">*@
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
            crossorigin="anonymous"></script>*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JQuery ui -->
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">*@
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/style.css">
    
    <!-- JS Files -->
    <!--spectrum-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">

</head>
<body style="background-color: #ffffff;">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-2 gx-0">
                <!-- left bar -->
                <div style="height: 100vh;background-color: #254e6b;" class=" scroller leftbar">
                    <div class="divLogo my-3 ">
                        <!-- <a class="navbar-brand fs-1" href="#">COLLAB</a> -->
                        <img src="~/img/logo_white.png" alt="Logo">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                        </button>
                    </div>
                    <!-- left personal -->
                    <div class="leftbarbtn col-8  truncate mt-4">
                        <!-- <span class="material-symbols-outlined ">home</span> -->
                        <!-- <i class="fa-solid fa-user fa-xl divHome"></i> -->
                        <i class="fa-regular fa-user fa-xl divHome" style="color: #ffffff; "></i>
                        <a href="@Url.Action("Index", "PersonalOverview")" class="ms-2 projectName fs-4">個人總覽</a>

                    </div>
                    <!-- left projects-->
                    <div class="col-8" style="display: flex; align-items: flex-end; justify-content: flex-start; ">
                        <h3 class="projectTitle fs-4">計劃名稱</h3>
                        <a id="btnAddProgram" class="icon-addTarget margin-btnSaveLink mb-1">
                            <i class="fa-regular fa-square-plus fa-lg"></i>
                        </a>
                        
                    </div>

                    
                    <!--------dialog------>
                    <dialog id="AddProgramDialog">
                        @using (Html.BeginForm("AddProgram", "Layout", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" })) {
                            <label class="ms-3 me-3 mt-5 AddProgramLabel">選擇顏色：</label>
                            <input id="colorpicker" type="color" class=" colorpicker" name="programColor" value="">
                            <br />
                            @*<label class="me-3 mt-3 mb-3 AddProgramLabel">計劃名稱：</label>*@
                            <br />
                            <input type="text" class="addInput ms-3 mb-5 me-3" name="ProgramName" placeholder="輸入計劃名稱">
                            <button type="submit" class="btnSave mb-5">新增計劃</button>
                            <button type="button" id="cancelbtn" class="fs-5 btn-close position-absolute top-0 end-0"></button>
                        }
                    </dialog>


                    @*<button id="NewProjectBtn">新增計劃</button>*@
                    <!-- 左側欄 -->
                    @foreach (var program in ViewBag.Programs) {
                        <div class="leftbarbtn col-8 truncate circleBlue" style="--circle-color: @program.ProgramColor" data-bgcolor="@program.ProgramColor" data-programname="@program.ProgramName">
                            <a href="javascript:void(0);" class=" program-link projectName fs-4" data-id="@program.ProgramId">@program.ProgramName</a>
                        </div>
                    }


                </div>
                <!-- left bar end-->
            </div>
            <div class="col-10 gx-0">
                <!-- navbar -->
                <nav class="navbar navbar-expand-lg navbar-dark  py-3 "
                     style="background-color: #ffffff; box-shadow: 0 2px 5px rgba(181, 181, 181, 0.144) ">
                    <div class="container-fluid d-flex justify-content-between ">
                        <div id="spanColor" class="mx-auto circleyellow-Title">
                            <span id="spanName" class="mx-auto fs-2 fw-bold navbarTitle "></span>
                        </div>

                        <!-- ----------------大頭貼下拉選單區------------ -->

                        <div class="avatar ">
                            <img src="@ViewBag.ProfilePicturePath" alt="頭像">
                        </div>
                        <ul class="navbar-nav me-5">
                            <li class="nav-item dropdown me-4 ">
                                <a class="nav-link dropdown-toggle " href="#" id="navbarDarkDropdownMenuLink"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                   style="color: #2b3040e6;  font-size: 24px;  ">
                                    @ViewBag.MemberName
                                </a>
                                <ul class="dropdown-menu dropdown-menu-secondary "
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item fs-5" href="@Url.Action("Index", "MemberArea")">會員中心</a></li>
                                    <li><a class="dropdown-item fs-5 logout-link" href="#">登出</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- ----------------大頭貼下拉選單區end-------------->
                    </div>
                </nav>
                <!-- navbar end-->
                <!-- page button group -->
                <div class="btn-grouop ms-4">
                    <ul class="nav nav-tabs mx-4 fs-4" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button id="projectGeneralButton" class="nav-link active pagebtn" data-url="@Url.Action("Index", "ProjectGeneral")" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                                    role="tab" aria-controls="profile" aria-selected="false">
                                總覽
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button id="projectIntentButton" class="nav-link pagebtn" data-url="@Url.Action("Index", "Intent")" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                                    role="tab" aria-controls="profile" aria-selected="false">
                                目標
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link pagebtn" data-url="@Url.Action("Index", "Mission")"  data-bs-toggle="tab" data-bs-target="#contact" type="button"
                                    role="tab" aria-controls="contact" aria-selected="false">
                                任務
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link pagebtn" data-url="@Url.Action("CalenderPage", "Calender")" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                                    role="tab" aria-controls="contact" aria-selected="false">
                                行事曆
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link pagebtn" data-url="@Url.Action("Index", "Notebook")"  data-bs-toggle="tab" data-bs-target="#contact" type="button"
                                    role="tab" aria-controls="contact" aria-selected="false">
                                記事本
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button id="pagebtn" class="nav-link pagebtn" data-url="@Url.Action("Index", "Notify")"  data-bs-toggle="tab" data-bs-target="#contact" type="button"
                                    role="tab" aria-controls="contact" aria-selected="false">
                                通知
                            </button>
                        </li>
                    </ul>
                    <!-- <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div> -->
                </div>
                <!-- page button group end-->
                <!--------功能內頁------>
                <div class="scroller " style="height: 87vh;">
                    <div class="mx-4">
                        <div class=" mx-4">
                            <!-- 從這裡開始寫 -->
                            @RenderBody()
                            <!-- 結束 -->
                        </div>
                    </div>
                </div>
                <!--------功能內頁END------>
            </div>
        </div>
    </div>
   
    <!-- MVC -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            
            $(".program-link").click(function () {
                var programId = $(this).data("id");
                localStorage.setItem('CurrentProgramId', programId);
                var newUrl = '@Url.Action("Index", "ProjectGeneral")' + '?id=' + programId;
                window.location.href = newUrl;
            });

            $("#projectGeneralButton").click(function () {
                var currentProgramId = localStorage.getItem('CurrentProgramId');
                var newUrl = '@Url.Action("Index", "ProjectGeneral")' + '?id=' + currentProgramId;
                $(this).data('url', newUrl);
            });


            $('.leftbarbtn').click(function(){
                var bgColor = $(this).data("bgcolor")
                var programName = $(this).data("programname")

                //console.log(bgColor);
                localStorage.setItem("bgcolor", bgColor);
                localStorage.setItem("ProgramName", programName);
                var linkUrl = $(this).data('url');

            })

            var spanColor = localStorage.getItem("bgcolor");
            var spanName = localStorage.getItem("ProgramName");
            $("#spanColor").css("--circle-color-title", spanColor);
            $("#spanName").text(spanName);

            // 获取当前页面的 URL 路径
            var currentPath = window.location.pathname;

            // 判斷是否為個人總覽頁，是的話更改navbar的文字跟隱藏pagebtn
            if (currentPath.endsWith('/PersonalOverview')) {
                var spanName = '個人總覽';
                localStorage.setItem("ProgramName", spanName);
                $("#spanName").text(spanName);
                $(".btn-grouop").hide();
                $("#spanColor").removeClass('circleyellow-Title');
            }
            // 判斷是否為會員中心頁，是的話更改navbar的文字跟隱藏pagebtn
            if (currentPath.endsWith('/MemberArea')) {
                var spanName = '會員中心';
                localStorage.setItem("ProgramName", spanName);
                $("#spanName").text(spanName);
                $(".btn-grouop").hide();
                $("#spanColor").removeClass('circleyellow-Title');
            }


            //$(".pagebtn").click(function(){
            //    //取得localStorage的CurrentProgramId
            //    var programId = localStorage.getItem('CurrentProgramId');
            //    //獲取按鈕的data-url 屬性
            //    var oldUrl = $(this).data('url');
            //    // 新的 URL，後面加上 programId
            //    var newUrl = oldUrl + '?id=' + programId;
            //    //頁面導向新的url
            //    window.location.href = newUrl;
            //})


            // each所有 .pagebtn 元素
            $('.pagebtn').each(function () {
                // 获取按钮的 data-url 属性
                var btnUrl = $(this).data('url');
                //console.log(btnUrl);
                //console.log(newUrl);
                console.log(currentPath);
                // 如果按钮的 URL 和当前页面的 URL 路径匹配，则添加 active 类
                if (btnUrl == currentPath) {
                    $(this).addClass('active');
                } else {
                    $(this).removeClass('active');
                }
            });


            $(".pagebtn").click(function () {
                // 從 localStorage 中取得 CurrentProgramId
                var programId = localStorage.getItem('CurrentProgramId');
                // 獲取按鈕的 data-url 屬性
                var oldUrl = $(this).data('url');

                // 創建一個新的 URL 物件
                var url = new URL(oldUrl, window.location.origin);

                // 獲取 URL 的查詢參數
                var params = new URLSearchParams(url.search);

                // 移除舊的 id 參數（如果存在的話）
                params.delete('id');

                // 添加新的 id 參數
                params.append('id', programId);

                // 更新 URL 的查詢字串
                url.search = params.toString();

                // 頁面導向新的 URL
                location.href = url.toString();
            });

            $('.logout-link').click(function (e) {
                e.preventDefault();  // 阻止默認的鏈接點擊行為

                // 刪除 UserID cookie
                document.cookie = 'UserID=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';

                // 重定向到登入頁面
                window.location.href = '@Url.Action("Index", "Login")';
            });


            $("#colorpicker").spectrum({
                color: "#f00"
            });


            


        });


        
    </script>


    
</body>



</html>
